/* These styles are related to page layout */
@layer layout {
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr minmax(auto, 40rem) 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
        min-block-size: 100svh;
    }

    body>* {
        grid-column: 2 / 2;
    }
}

@layer skip-links {
    .skip {
        position: absolute;
        transform: translateY(-100%);
        top: 0;
        left: 0;
    }

    .skip:focus {
        transform: translateY(0);
    }
}

@layer header {
    body>header {
        display: flex;
        align-items: center;
        padding-block: 1rem;
        flex-wrap: wrap;
    }

    body>header nav:where(:last-child) {
        margin-inline-start: auto;
    }

    body>header nav:where(:last-child) ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        align-items: center;
        max-inline-size: none;
    }

    body>header nav:where(:last-child) ul>li:where(:first-child) {
        margin-inline-end: auto;
    }

    a:is([href*="subscribe"]) {
        & {
            vertical-align: center;
        }

        &::after {
            content: "RSS JSON";
            font-size: .75rem;
            line-height: 1;
            margin-inline-start: .25rem;
            display: inline-block;
            vertical-align: top;
            color: var(--color-text);
            opacity: 75%;
        }
    }
}

@layer logo {
    .logo path {
        fill: currentColor;
    }
}

@layer main {
    main {
        transition: 100ms all ease-in-out;
    }

    main:where(:focus-within) {
        outline: none;
    }
}

@layer footer {
    body>footer {
        color: color-mix(in srgb, var(--color-text) 60%, var(--color-red));
        font-size: calc((14 / 16) * 1rem);
        line-height: 1.375;
        padding-block-end: 1rem;
    }

    body>footer svg {
        width: 1.5rem !important;
        height: 1.5rem !important;
    }

    body>footer nav ul {
        display: flex;
        column-gap: 1rem;
    }
}

@layer article {
    article>header {
        margin-block-end: 1rem;
    }
}
