<!doctype html>
<!--
    Welcome fellow view-source enthusiast!

    You can find the source code for my website on GitHub
    {{ site.repository_url }}
-->
<html lang="{{ site.lang }}">
<meta charset="utf-8">
<title>
{{ if it.title }}
{{ title }} &mdash; {{ site.title }}
{{ else }}
{{ site.title }}
{{ /if }}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if it.description }}
<meta name="description" content="{{ description }}">
{{ else }}
<meta name="description" content="{{ site.description }}">
{{ /if }}
<link rel="canonical" href="{{ site.url }}{{ url }}">
<link rel="me" href="{{ social.mastodon }}">
<link rel="me" href="{{ social.github }}">
<link rel="me" href="{{ social.bluesky }}">
{{ if it.license }}
<link rel="license" href="{{ license.url }}">
{{ /if }}
<link rel="icon" href="/assets/favicon.svg" sizes="64x64">
<style media="all">
{{ include "../../css/global/all.css" }}
</style>
<style media="screen">
{{ include "../../css/global/screen.css" }}
</style>
<link rel="stylesheet" href="/css/global/print.css" media="print">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/an-old-hope.min.css" media="(prefers-color-scheme: dark)">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/a11y-light.min.css" media="(prefers-color-scheme: light)">
<style media="all">
.hljs {
    color: inherit;
    background: transparent;
}
</style>
{{ content }}
