<!doctype html>
<html lang="{{ site.lang }}">
<meta charset="utf-8">
<title>
{{ if it.title }}
{{ title }} &mdash; {{ site.title }}
{{ else }}
{{ site.title }}
{{ /if }}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if it.description }}
<meta name="description" content="{{ description }}">
{{ /if }}
<link rel="canonical" href="{{ site.url }}{{ url }}">
{{ if social.mastodon }}
<link rel="me" href="{{ social.mastodon }}">
{{ /if }}
{{ if social.github }}
<link rel="me" href="{{ social.github }}">
{{ /if }}
{{ if social.bluesky }}
<link rel="me" href="{{ social.bluesky }}">
{{ /if }}
<link rel="manifest" href="{{ site.manifest }}">
{{ if it.license }}
<link rel="license" href="{{ license.url }}">
{{ /if }}
<link rel="icon" href="/assets/favicon.svg" sizes="64x64">
<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
<link rel="alternate" href="/feed.xml" type="application/rss+xml" title="RSS Feed">
<link rel="alternate" href="/feed.json" type="application/feed+json" title="JSON Feed">
{{# <script type="module">
{{ include "serviceworker/setup.js" }}
</script> #}}
<style media="all">
{{ include "../../css/global/all.css" }}
</style>
<style media="screen">
{{ include "../../css/global/screen.css" }}
</style>
<link rel="stylesheet" href="/css/global/print.css" media="print">
{{ content }}
<!--
    Welcome fellow view-source enthusiast!

    You can find the source code for my website on GitHub
    {{ site.repository_url }}
-->
