---
title: Robot | carlrafting.com
layout: layouts/base.vto
---
<link rel="stylesheet" href="./all.css" media="all">
<link rel="stylesheet" href="./screen.css" media="screen">

<div class="container">
    <div class="robot" data-state="off">
        <span class="robot-emoji">🤖</span>
        <br>
        <span class="robot-text text-italic bubble">
            Welcome!
        </span>
    </div>
</div>

<script type=module src=./module.js></script>
