/* Styles that applies to all media */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.375;
    font-size: 1rem;
    hyphens: auto;
    text-wrap: balance;
}

input,
select,
textarea,
button {
    font: inherit;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
    margin-block-end: 1rem;
}

svg,
img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

img {
    height: auto;
    vertical-align: middle;
    font-style: italic;
    border: 0;
}

pre {
    background-color: var(--color-overlay);
    padding: 1rem;
    border-radius: .5rem;
    margin-inline: calc(-1rem + -1em);
}

pre code {
    white-space: pre-wrap;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-block-end: 1rem;
}

th {
    text-align: left;
}

th,
td {
    padding-block: .25rem;
}

th + *,
td + * {
    padding-inline-start: 1rem;
}

h1 {
    line-height: 1.1875;
    max-inline-size: 30ch;
}

p,
ul,
ol,
dl {
    max-inline-size: 70ch;
}

nav ul {
    list-style: none;
    padding: 0;
    max-inline-size: none;
}

.text-italic {
    font-style: italic;
}

@media print {
    .media-noprint {
        display: none;
    }
}
