/* Styles that applies to all media */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.375;
    font-size: 1.125rem;
    -webkit-hyphens: auto;
    hyphens: auto;
    /* text-wrap: balance; */
}

input,
select,
textarea,
button {
    font: inherit;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
    margin-block-end: 1rem;
}

svg,
img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

figure {
    margin: 0;
}

figcaption {
    font-style: italic;
}

figure > figcaption {
    margin-block-start: .5rem;
}

img {
    height: auto;
    vertical-align: middle;
    font-style: italic;
    border: 0;
}

pre {
    background-color: var(--color-overlay);
    padding: 1rem;
    border-radius: .5rem;
    margin-inline: calc(-1rem + -1em);
}

pre code {
    white-space: pre-wrap;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-block-end: 1rem;
}

th {
    text-align: left;
}

th,
td {
    padding-block: .25rem;
}

th + *,
td + * {
    padding-inline-start: 1rem;
}

h1 {
    line-height: 1.1875;
    max-inline-size: 30ch;
}

p,
ul,
ol,
dl {
    max-inline-size: 60ch;
}

nav ul {
    list-style: none;
    padding: 0;
    max-inline-size: none;
}

hr {
    margin: 0;
    border-width: 0;

    &::after {
        font-size: 1.25rem;
        content: "***";
        text-align: center;
        display: block;
    }
}

blockquote {
    margin: 0;
    padding: .75rem 1.5rem .75rem 2.5rem;
    margin-block-end: 1rem;
    position: relative;

    &::before {
        content: "»";
        font-size: 2rem;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        translate: .5rem;
        opacity: 50%;
    }
}

.text-italic {
    font-style: italic;
}

@media print {
    .media-noprint {
        display: none;
    }
}
