/* Styles that applies to screen media */

:root {
    color-scheme: light;
    /* https://coolors.co/0d0808-c4313d */

    --color-space: oklab;

    --color-red: #C4313D;
    --color-dark: #100405;
    --color-light: #FBEFF0;

    --color-links: var(--color-red);
    --color-text: var(--color-dark);
    --color-background: var(--color-light);
    --color-overlay: #fff;
    --color-focus-outline: orangered;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --color-red: #D24B57;
        --color-text: var(--color-light);
        --color-background: var(--color-dark);
        --color-overlay: #ffffff05;
        --color-focus-outline: orange;
    }
}

html {
    /* @start text-size-adjust-fix */
    /* Prevent font size inflation */
    /* https://piccalil.li/blog/a-more-modern-css-reset/ */
    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    /* @end text-size-adjust-fix */
    color: var(--color-text);
    background-color: var(--color-background);
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    margin: 0;
}

a {

    &,
    &:where(:link, :visited) {
        color: var(--color-links);
        font-weight: 600;
        text-decoration: none;
        text-underline-offset: 0.25em;
    }

    &:where(:hover, :focus) {
        color: color-mix(in var(--color-space),
                var(--color-links) 100%,
                var(--color-text) 33%);
        text-decoration: underline;
    }

    &:where(:active) {
        color: var(--color-text);
    }
}

hr {
    color: color-mix(in var(--color-space),
            var(--color-red) 100%,
            var(--color-background) 50%);
}

blockquote {
    color: color-mix(in var(--color-space),
            var(--color-text) 75%,
            var(--color-overlay) 50%);
    background-color: var(--color-overlay);

    &::before {
        color: color-mix(in var(--color-space),
                var(--color-text) 10%,
                var(--color-red) 80%);
    }
}

:target {
    outline: 2px solid var(--color-focus-outline);
    outline-offset: 1rem;
    scroll-margin-block: 2rem;
}

.full-bleed {
    width: 100vw;
    margin-inline-start: calc(50% + -50vw);
}
