/* Styles that applies to screen media */

:root {
    color-scheme: light dark;
    /* https://coolors.co/0d0808-c4313d */

    --color-red: light-dark(#C4313D, #D24B57);
    --color-dark: #100405;
    --color-light: #FBEFF0;

    --color-links: var(--color-red);
    --color-text: light-dark(var(--color-dark), var(--color-light));
    --color-background: light-dark(var(--color-light), var(--color-dark));
    --color-overlay: light-dark(#fff, #ffffff05);
}

html {
    /* @start text-size-adjust-fix */
    /* Prevent font size inflation */
    /* https://piccalil.li/blog/a-more-modern-css-reset/ */
    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    /* @end text-size-adjust-fix */
    color: var(--color-text);
    background-color: var(--color-background);
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    margin: 0;
}

a {
    &,
    &:link,
    &:visited {
        color: var(--color-links);
        font-weight: 600;
        text-decoration: none;
        text-underline-offset: 0.25em;
    }

    &:hover {
        text-decoration: underline;
    }
}

:target {
    outline: 2px solid light-dark(orangered,orange);
    outline-offset: 1rem;
    scroll-margin-block: 2rem;
}

svg path {
    fill: currentColor;
}
