---
title: Hello!
layout: layouts/page.vto
templateEngine: md
---

# Nice to meet you! My name is Carl.

The domain for this website was registered in the year <a rel="external" title="Wikipedia entry about the year 2006" href="https://en.wikipedia.org/wiki/2006">2006</a>. I think the model of paying rent for our domain names on the web, is somewhat flawed but perhaps necessary. 

I've been creating stuff on and for the web in various forms and capacities for about 15 years.

I have an interest in technology but i don't think every problem can be solved with an app. 

Simpler solutions are usually better.
