<form action="{{ page.url }}" method="post">
    <fieldset>
      <legend>Robot Controls</legend>
      <button type="button">Start</button>
      <button type="button">Stop</button>
    </fieldset>
  </form>
